.ingredients_container {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
}

img {
    margin: 5px auto;
    width: 50px;

}

.burger_container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 300px;
    height: 500px;
    background-color: #DEE5E5;
    border-radius: 5px;
    margin: 10px auto;
}

.card {
    border: 2px solid black;
    width: 150px;
    height: fit-content;
}

Link {
    width: 300px;
}